html{
    background-color: #222;
}

img {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 50px;
}

article {
    
    flex-wrap: wrap;
}

.dropzone {
    width: 200px;
    height: 20px;
    background: blueviolet;
    margin-bottom: 10px;
    padding: 100px;
  }