 
    
    img {
    
    width: 200px;
    
    height: 200px;
    
    margin-left: 100px;
    
    margin-bottom: 50px;
    
    }
    
    
    
    article {
    
    flex-wrap: wrap;
    
    }
    
    
    
    .dropzone {
    
    width: 200px;
    
    background: #c4e3fa;
    
    margin-bottom: 10px;
    
    padding: 20px;
    text-align: center;
        display: block;
    
    }
    
    
    article > img {
    
    width: 200px;
    
    height: 200px;
    
    margin-left: 100px;
    
    margin-top: 50px;
    
    }
    
    
    
    
    #logo-fix{
    
    width: 150px;
    
    height: 150px;
    
    margin-top: 0px;
    
    }
    
    
    
    
    hr{
    
    color: black;
    
    font-weight: bold;
    
    }
    
    
    
    
    #homePage{
    
    margin-left: 300px;
    
    
    
    }
    
    
    
    
    #homePage, #addCollection, #showCollection, #inputCollectionName{
    
    margin-top: 100px;
    
    width: 200px;
    
  
    
    
    
    }
    
    
    
    #recherche{
    
    margin: 200px 200px 200px 200px;
    
    }

#logo-fix {
    width: 100px;
    height: 100px;
}